@{
    ViewData["Title"] = "EMTV";
}

<div class="text-center">
    <h1 class="display-4">EMTV</h1>
    <p>Porque cada serie merece ser vista de nuevo y de nuevo.</p>

    @{
        foreach(Serie S in @ViewBag.ListaSeries){
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <img src="@S.ImagenSerie" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@S.Nombre</h5>
                            <p class="card-text">@S.Sinopsis</p>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#ModalTemporadas" onclick="MostrarTemporadas(@S.IdSerie)">
                                Temporadas
                            </button>
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#ModalActores" onclick="MostrarActores(@S.IdSerie)">
                                Actores
                            </button>
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#ModalSeries" onclick="MostrarMasInfo(@S.IdSerie)">
                                Ver más info
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }


@* Modal para mostrar Temporadas *@
<div class="modal" tabindex="-1" id="ModalTemporadas" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Temporadas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="Temporadas"></div>
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>
</div>
</div>

@* Modal para mostrar actores *@
<div class="modal" tabindex="-1" id="ModalActores" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Actores</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="Actores"></div>
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>
</div>
</div>

@* Modal para mostrar mas info osea la sinopsis *@
<div class="modal" tabindex="-1" id="ModalSeries" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sinopsis</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="Sinopsis"></div>
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
